/* Universal Styles */

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  transition: all 300ms ease;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  margin: 0;
}
a:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(71, 13, 188);
}
button {
  text-decoration: none;
  padding: 0.75rem 2rem;
  border: 2px solid transparent;
  background-color: rgb(100, 21, 255);
  color: white;
  border-radius: 9999px;
  border-bottom: none;
}
button:hover {
  background-color: rgb(71, 13, 188);
  border-bottom: none;
}
button:active {
  transform: translateY(1px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2rem;
}
p {
  line-height: 1.5rem;
  font-size: 1rem;
}
img {
  width: 100%;
  height: 100%;
  max-height: 101vh;
  overflow: hidden;
}
.container {
  display: grid;
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
  max-height: 94vh;
}
.row {
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}
.purple--text {
  color: rgb(100, 21, 255);
  line-height: 2rem;
}
.step--title,
.steps--title,
.values--title,
.landing__title,
.quality--title,
.highlight--title,
.section__title {
  color: rgb(36, 62, 99) !important;
}
main {
  max-width: 1280px !important;
  margin: 0 auto;
}

/* Btn Menu */

.btn__menu {
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border: none;
  color: black;
  margin: 12px 16px;
  padding: 12px auto;
  display: none;
}
.btn__menu:hover {
  background-color: transparent;
}
.menu__backdrop {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease;
  transform: translateX(100%);
  border: 2px solid rgb(226, 232, 240);
  border-radius: 8px;
  margin: 1.5rem 1rem;
  height: fit-content;
  padding: 2rem;
}
.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
  padding: 12px 0;
  margin: 0 auto;
}
.menu__link {
  font-size: 1.5rem;
  color: rgb(79, 85, 93);
  border: 2px solid transparent;
  transition: all 150ms ease;
  padding-bottom: 0.5rem;
  line-height: 1.5rem;
}
.menu__link--btn {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.menu__link:hover {
  color: rgb(71, 13, 188);
  border-bottom: 2px solid rgb(71, 13, 188);
  cursor: no-drop;
}
.menu__link--btn:hover {
  border-bottom: none;
  cursor: no-drop;
}
.btn__menu:hover {
  color: rgb(71, 13, 188);
}
.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: rgb(160, 174, 192);
}
.btn__menu--close:active {
  color: rgb(71, 13, 188);
}
body.menu--open .menu__backdrop {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  transition-delay: 0;
  pointer-events: auto;
}
.menu--open {
  overflow: hidden;
}

/* Header & Nav */

#landing {
  max-width: 1280px;
  width: 101vw;
  margin: 0 auto;
  padding: 0;
}
.header {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__logo--wrapper {
  display: flex;
  align-items: center;
  width: 2.5rem;
}
.nav__img i {
  border: 2px solid transparent;
  padding: 8px 12px;
  background-color: rgb(100, 21, 255);
  border-radius: 4px;
  color: white;
  margin-right: 12px;
  text-align: center;
  cursor: no-drop;
  font-weight: 900;
  font-style: bold;
  font-size: 1.25rem;
}
.nav__img--link {
  margin-left: 36px;
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(79, 85, 93);
  display: flex;
  align-items: center;
  cursor: no-drop;
}
.nav__img--link:hover {
  color: rgb(100, 21, 255);
  border: none;
}
.nav__menu--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__link {
  margin-left: 36px;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(79, 85, 93);
  border: 2px solid transparent;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  transition: all 150ms ease;
  cursor: no-drop;
}
.nav__link:hover {
  color: rgb(71, 13, 188);
  border-bottom: 2px solid rgb(71, 13, 188);
}
.nav__link--btn {
  font-weight: 700;
  font-size: 1rem;
  border-bottom: none;
  margin-left: 1rem;
  cursor: no-drop;
}
.nav__link--btn:hover {
  border-bottom: none;
}

/* Landing */

#landing--content {
  margin-bottom: 64px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-height: fit-content;
  transform: translateX(-200%);
  opacity: 0;
}
.landing--wrapper {
  margin: 48px auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#landing--content.active {
  transform: translateX(0);
  opacity: 1;
}
.landing__content {
  width: 40%;
  padding: 36px;
}
.landing__title {
  font-size: 3rem;
  font-weight: 700;
  padding: 8px;
  line-height: 3rem;
}
.landing__text {
  color: rgb(36, 62, 99);
  width: 100%;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  padding: 8px;
}
.landing__input {
  padding: 8px;
  margin: 0 auto;
  width: 100%;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__input:hover {
  border: 2px solid rgb(79, 85, 93);
}
.landing__input:focus-within {
  border: 2px solid rgb(71, 13, 188);
}

.landing__input--text {
  flex: 1;
  outline: none;
  color: rgb(71, 13, 188);
  font-size: 1rem;
  border: none;
  margin: 0 auto;
  padding: 12px;
  transition: all 300ms;
}
.email--btn {
  font-size: 1.25rem;
  width: fit-content;
  border: none;
  padding: 12px 24px;
  margin-left: 12px;
  cursor: no-drop;
}
.landing__img {
  display: flex;
  width: 60%;
  max-height: 101vh;
  margin: 0 auto;
  padding-right: 36px;
}
.landing__sub {
  margin-top: 36px;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgb(160, 174, 192);
  filter: grayscale(100%) brightness(80%) opacity(1);
  width: 100%;
}
.sub--img {
  bottom: 48px;
  line-height: 2rem;
  filter: grayscale(100%) brightness(200%);
}

/* Features */

#features {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  transform: translateX(200%);
  overflow: hidden;
  opacity: 0;
  padding-left: 5rem;
  padding-right: 5rem;
}
#features.active {
  transform: translateX(0);
  opacity: 1;
}
.features__content--text {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
.section__title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5rem;
  padding: 2rem;
}
.section__text {
  color: rgb(160, 174, 192);
  width: calc(100% - 2rem);
}
.section__text--subtext {
  color: rgb(160, 174, 192);
  width: calc(100% / 3);
  font-weight: 500;
}
.features__content--highlights {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.highlight {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.textContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.highlight--title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.highlight--icon {
  color: rgb(100, 21, 255);
}
.highlight--icon {
  font-size: 2rem;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  padding: 1rem;
  margin: 0 1rem;
}

/* Quality Work */

#quality {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  transform: translateX(-200%);
  opacity: 0;
}
#quality.active {
  transform: translateX(0);
  opacity: 1;
}
.quality--wrapper {
  margin-top: 2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.quality__content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.quality__text {
  text-align: left;
  width: 50%;
}
.quality--title {
  padding: 2rem 0;
  text-align: left;
  line-height: 3rem;
}
.quality--text {
  font-size: 1.25rem;
  padding: 2rem 0rem;
  text-align: left;
  line-height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
a.quality--btn {
  text-decoration: none;
  border-bottom: none;
}
a.quality--btn:hover {
  text-decoration: none;
  border-bottom: none;
}
.quality--btn {
  text-align: left;
  margin-left: 0;
  padding: 1rem 0;
  display: inline-block;
  font-weight: 700;
  color: rgb(79, 85, 93);
  border: 2px solid transparent;
}
.quality--btn button {
  line-height: 1.5rem;
  transition: all 150ms ease;
  font-size: 1.25rem;
  border-bottom: none;
  cursor: no-drop;
}
.quality__content--img {
  position: relative;
  width: 50%;
  max-width: 50vw;
  display: inline-block;
  padding: 8px;
  z-index: 50;
}
.quality--img {
  width: 80%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: block;
  border: 2px solid rgb(226, 232, 240);
  z-index: 50;
  background-color: white;
  padding: 12px auto;
}
.quality--dots img {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 100%;
  top: 280px;
  right: 0;
  left: 84%;
  width: 10%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  filter: blur(1px);
  pointer-events: none;
}
.quality--img img:first-child {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Steps */

#steps {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  transform: translateX(200%);
  opacity: 0;
}
#steps.active {
  transform: translateX(0);
  opacity: 1;
}
.steps__content {
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
.steps--title {
  line-height: 3rem;
}
.steps__content--list {
  display: flex;
  flex-direction: column;
  cursor: auto;
}
.steps__content--list h3 {
  padding: 2rem;
  cursor: auto;
}
.step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: auto;
}
.step--number {
  display: inline;
  color: rgb(226, 232, 240);
  font-size: 3rem;
  padding: 1rem;
}
.step--title {
  display: flex;
  font-size: 1.25rem;
}
.steps__content--img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
}
.steps__content--img img {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 25%;
}

/* Values */

#values {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  transform: translateX(-200%);
  opacity: 0;
}
#values.active {
  transform: translateX(0);
  opacity: 1;
}
.values__content {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.values__content--points {
  width: 50%;
}
.values__content--points .section__text {
  font-weight: 500;
}
.values--title {
  line-height: 3rem;
  margin-left: 0;
  padding: 2rem 0;
}
.points {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.point figure,
.point i,
.point h6,
.point p {
  text-align: left;
  margin-top: 1rem;
}
.point {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.point--title--icon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center !important;
  margin: 0 auto;
  gap: 12px;
}
.point--title--icon .step--title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.point .section__text {
  font-weight: 400;
}
.point--icon i {
  font-size: 1.5rem;
  width: fit-content;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  margin: 0 auto;
  padding: 0.5rem;
  color: rgb(79, 85, 93);
}
.step--title {
  width: fit-content;
}
.values__content--points button {
  margin-left: 12px;
}
.mb1 i {
  background-color: rgb(154, 230, 180);
  color: rgb(39, 103, 73);
}
.bc2 i {
  background-color: rgb(254, 178, 178);
  color: rgb(155, 44, 44);
}
.values__content--img {
  width: 50%;
  margin-top: 10%;
}
.values__content--img img {
  display: flex;
  height: auto;
  padding: 2rem;
}

/* Pricing */

#pricing {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  transform: translateX(200%);
  opacity: 0;
}
#pricing.active {
  transform: translateX(0);
  opacity: 1;
}
.pricing__content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pricing {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}
#pricing .container {
  height: 101vh;
  max-height: fit-content;
  margin-bottom: 128px;
}
.pricing__content .textContainer {
  margin: 2rem;
  padding: 2rem;
  font-weight: 500;
}
.pricing h3,
.pricing h1 {
  margin: 0;
  padding: 1rem 0;
}
.pricing .section__text {
  width: 33%;
}
.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}
.plan {
  width: calc(100% / 3);
  border: 2px solid rgb(226, 232, 240);
  border-top: none;
  margin: 1rem;
  border-radius: 0.5rem;
  transform: scale(1);
  overflow: hidden;
}
.plan h4 {
  font-size: 1.25rem;
  padding: 8px;
}
.plan h2 {
  font-size: 3rem;
  padding: 8px;
}
.monthly {
  font-size: 1.25rem;
  color: rgb(160, 174, 192);
  font-weight: 500;
  padding: 8px;
}
.plan .textContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-top: 1px solid rgb(160, 174, 192);
  border-bottom: 1px solid rgb(160, 174, 192);
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.plan .textContainer:first-child {
  border-top: none;
}
.plan .textContainer:last-child {
  border-bottom: none;
}
.plan h3 {
  font: 1.25rem;
  padding: 8px;
}
.plan .section__text {
  padding: 8px;
}
.border--top-1 {
  position: absolute;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.border--top-2 {
  position: absolute;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.plan:nth-child(2) {
  color: white !important;
}
.plans .plan:first-child button {
  background-color: none;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border: none;
  padding: 0.75rem 3rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.plans .plan:first-child button:hover {
  transform: translateY(-2px);
}
.plans .plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: white;
}
.plans .plan:nth-child(2) .textContainer,
.plans .plan:nth-child(2) h4,
.plans .plan:nth-child(2) h2,
.plans .plan:nth-child(2) h3,
.plans .plan:nth-child(2) p,
.plans .plan:nth-child(2) .section__text {
  color: white !important;
}
.plans .plan:nth-child(2) {
  color: white !important;
}
.plans .plan:nth-child(2) button {
  background-color: rgb(226, 232, 240);
  color: rgb(100, 21, 255);
  padding: 0.75rem 3rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.plans .plan:nth-child(2) button:hover {
  transform: translateY(-2px);
}
.plans .plan:last-child button {
  background-color: none;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border: none;
  padding: 0.75rem 3rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.plan .section__text {
  font-weight: 500;
}
.plans .plan:last-child button:hover {
  transform: translateY(-2px);
}
.plan h2,
.plan h4,
.plan h3 {
  color: rgb(36, 62, 99);
}

/* Testimonials */

#testimonials {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  transform: translateX(-200%);
  opacity: 0;
}
#testimonials {
  margin-top: 128px;
}
#testimonials.active {
  transform: translateX(0);
  opacity: 1;
}
.testimony__content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.testimony__content--text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 16px;
}
.testimony__content--text .section__title {
  margin-left: 0;
  padding-left: 0;
}
.reviews__img--wrapper {
  display: flex;
  width: 50%;
  padding: 16px;
}
.arrows {
  position: relative;
  display: flex;
  align-items: center;
}
.reviews--wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}
.slides-container {
  display: flex;
  transition: 300ms ease-in-out;
  width: 100%;
}
.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  flex: 0 0 50%;
}
.review--person {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-left: 16px;
}
.review--person .textContainer {
  width: 100%;
}
.review .textContainer h4 {
  color: rgb(36, 62, 99) !important;
  font-size: 1.25rem;
}
.review--person h4,
.review--person .section__text--subtext {
  display: flex;
  flex-direction: column;
}
.star--wrapper {
  margin-left: 16px;
}
.stars {
  display: flex;
  flex-direction: row;
  color: rgb(246, 173, 85);
  gap: 4px;
}
.review--img img {
  width: 5rem;
  height: auto;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 9999px;
}
.arrows {
  position: absolute;
  right: 0;
  top: 75%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-right: 64px;
  font-size: 1.5rem;
}
.arrows button {
  display: inline-block;
  background-color: white;
  color: rgb(100, 21, 255);
  padding: 12px;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease;
}
.left:hover,
.right:hover {
  border: 2px solid rgb(226, 232, 240);
  color: rgb(71, 13, 188);
  background-color: rgb(160, 174, 192);
}
.left {
  transform: translateX(-25%);
}
.right {
  transform: translateX(25%);
}

/* FAQ */

#faq {
  width: 100%;
  transform: translateX(200%);
  opacity: 0;
  margin: 0 auto;
  padding: 0;
}
#faq.active {
  transform: translateX(0);
  opacity: 1;
}
.faq__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.faq__content--header .textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.faq__content--questions {
  width: 100%;
  max-width: 800px;
  padding: 0 0 2rem 0;
  margin: 0 auto;
  overflow: hidden;
}
.question {
  margin-bottom: 24px;
}
.accordion-button {
  background-color: rgb(226, 232, 240);
  border: none;
  outline: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all 300ms ease;
  color: rgb(45, 55, 72);
}
.accordion-button:hover {
  background-color: rgb(200, 220, 240);
}
.accordion-panel {
  overflow: hidden;
  transition: all 300ms ease;
  max-height: 0;
  padding: 0 10px;
  background-color: rgb(226, 232, 240);
  border: 1px solid rgb(226, 232, 240);
  border-top: none;
  opacity: 0;
}
.accordion-panel.open {
  max-height: 1280px;
  margin: 0;
  opacity: 1;
}
.section__text--question {
  height: fit-content;
  color: rgb(45, 55, 72);
}

/* Get Started */

#getstarted {
  width: 100%;
  transform: translateX(-200%);
  opacity: 0;
  margin: 0 auto;
  padding: 0;
}
#getstarted.active {
  transform: translateX(0);
  opacity: 1;
}
#getstarted .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentbox {
  width: 1280px;
  margin: 5rem auto;
  margin-bottom: 8rem;
  border-radius: 0.5rem;
  padding: 5rem 10rem;
  height: 30vh;
  background-color: rgb(100, 21, 255);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
}
.contentbox--text {
  width: 60%;
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1.875rem;
  flex-wrap: wrap;
}
.contentbox--buttons {
  width: 40%;
  display: flex;
  flex-direction: row;
}
.getstart,
.contact {
  font-size: 1rem;
  font-weight: 700;
  padding: 1.25rem 2.5rem;
}
.getstart {
  margin-right: 1.5rem;
  background-color: rgb(245, 101, 101);
}
.getstart:hover {
  background-color: rgb(229, 62, 62);
  cursor: no-drop;
}
.contact {
  border: 2px solid rgb(245, 101, 101);
}
.contact:hover {
  border: 2px solid rgb(100, 21, 255);
  transform: none;
  background-color: white;
  color: rgb(100, 21, 255);
  cursor: no-drop;
}

/* Footer */

#footer {
  color: white;
  background-color: rgb(100, 21, 255);
  width: 100%;
  transform: translateX(-200%);
  opacity: 0;
  margin: 0 auto;
  padding: 0;
}
#footer.active {
  transform: translateX(0);
  opacity: 1;
}
.footer__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(226, 232, 240);
  width: 100%;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__list--title {
  font-weight: 700;
  font-size: inherit;
}
.footer__list--item {
  margin-bottom: 0.25rem;
  font-weight: 400;
  font-size: 0.875rem;
}
.footer__end {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer--logo .nav__img {
  margin: 0;
  padding: 0;
}
.footer--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer--logo i {
  background-color: white;
  cursor: no-drop;
  font-weight: 900;
  font-style: bold;
  font-size: 1.25rem;
  color: rgb(100, 21, 255);
}
.media--links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Media Queries */

@media (max-width: 1024px) {
  * {
    max-width: 1024px;
  }
  img {
    overflow: hidden !important;
  }
  .container,
  .row,
  main,
  section {
    overflow-x: hidden !important;
  }
  main {
    padding: 4px;
  }
  .header {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4px;
  }
  .nav__logo--wrapper {
    margin: 4px;
    padding: 4px;
    align-items: center;
  }
  .btn__menu {
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .menu__backdrop {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .nav__links {
    display: none;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .nav__link {
    margin: 12px 0;
  }
  .nav__logo--wrapper,
  .nav__menu--wrapper {
    width: 50%;
  }
  .landing__content {
    width: 100%;
    padding: 24px;
  }
  .landing--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .landing__title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .landing__input {
    padding: 8px;
    margin: 0 auto;
    width: 75%;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing__input button {
    width: fit-content;
  }
  .landing__input:hover {
    border: 2px solid rgb(79, 85, 93);
  }
  .landing__input:focus-within {
    border: 2px solid rgb(71, 13, 188);
  }
  .landing__input--text {
    flex: 1;
    outline: none;
    color: rgb(71, 13, 188);
    font-size: 1rem;
    border: none;
    margin: 0 auto;
    padding: 12px;
    transition: all 300ms;
  }
  .email--btn {
    width: 100%;
    margin: 0 auto;
  }
  .landing__sub {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    font-size: 0.75rem;
    font-weight: 700;
    color: rgb(160, 174, 192);
    width: 75%;
  }
  #features {
    height: fit-content;
    padding: 32px;
  }
  .features__content--highlights,
  .features__content--text {
    margin: 16px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .features__content--highlights {
    max-height: fit-content;
    width: 100%;
  }
  .highlight .textContainer {
    text-align: left;
  }
  .highlight--title {
    text-align: left;
    width: 100%;
    margin-left: 28px;
  }
  .highlight--icon {
    font-size: 1.5rem;
    margin: 4px;
    z-index: 50;
  }
  .features__content--highlights .highlight .textContainer {
    padding: 4px;
    margin: 4px;
    width: 70%;
  }
  .textContainer {
    text-align: center;
    align-items: center;
  }
  #quality {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .quality__content {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .quality__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .quality__text h3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .quality--title {
    padding-top: 0;
    margin-top: 0;
  }
  .quality__content--img {
    width: 100%;
  }
  .quality--img {
    width: 100%;
    margin: 12px 0 0 24px;
  }
  .quality--img,
  .quality--img img {
    margin-top: 0;
    margin-right: 24px;
  }
  .quality--dots img {
    display: none;
  }
  #landing,
  #features,
  .container,
  .row {
    max-height: 100%;
    max-width: 100%;
    padding: 4px;
    margin: 0;
    overflow: hidden !important;
  }
  .section__text--subtext {
    width: 100%;
    max-width: 100%;
    padding: 16px;
  }
  .landing__img,
  .landing__img--wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    overflow: hidden;
  }
  .quality--wrapper,
  .quality__content {
    margin: 0 auto;
    padding: 16px;
    flex-direction: row;
  }
  .quality__text h1,
  .quality__text p {
    text-align: left;
  }
  .quality__content--img,
  .quality--img,
  .quality--img img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 36px;
  }
  .steps__content {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
  }
  .steps__content--list h3 {
    text-align: left;
    margin-left: 20px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .step {
    display: flex;
    flex-direction: row !important;
    text-align: left !important;
    padding: 8px;
    margin: 8px 0px;
  }
  .step {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .step .step--title {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    display: flex;
    text-align: left;
  }
  .step--number {
    margin: 4px;
    padding: 4px 4px 4px 12px;
  }
  .steps--title {
    padding-right: 24px;
    margin-left: 20px;
    padding-left: 0;
    text-align: left !important;
    width: fit-content;
  }
  .step .textContainer .section__text {
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }
  .steps__content--list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .steps__content--list {
    width: 100%;
    justify-content: space-evenly;
  }
  .steps__content--img,
  .steps__content--img img {
    margin-top: 0;
    width: 100%;
  }
  .steps__content--img img {
    padding-top: 128px;
  }
  #values {
    width: 100%;
    height: fit-content;
  }
  .container .values__content {
    margin: 0 auto;
  }
  .values__content {
    width: 100%;
    height: auto;
    margin: 12px auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .values__content--points {
    width: 100%;
    padding: 0rem;
    text-align: center;
  }
  .values__content--points .textContainer,
  .values__content--points
    .textContainer
    h3
    .values__content-.values__content--points
    .section__text {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }
  .values__content--points .textContainer h3 {
    width: 100%;
    margin-left: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .values--title {
    margin-top: 0;
    padding-top: 0;
    margin-left: 20px;
    padding-left: 0;
  }
  .values__content--points {
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
  }
  .points {
    display: flex;
    flex-direction: column;
    padding-right: 128px;
  }
  .point {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    margin: 8px 0;
  }
  .point--title--icon {
    text-align: left;
    margin-left: 20px;
  }
  .values__content--img {
    width: 50%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  .section__title {
    font-size: 2rem;
  }
  .pricing__content {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
  }
  #pricing {
    margin: 0 auto;
  }
  #pricing .container {
    height: fit-content;
    max-height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .pricing .section__title {
    font-size: 3rem;
  }
  .pricing .section__text {
    width: 50% !important;
  }
  .pricing {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }
  .plan .textContainer h2 {
    overflow: hidden;
  }
  .pricing .section__text {
    width: 100%;
  }
  .purple--text {
    overflow: hidden !important;
  }
  .btn__menu {
    overflow: hidden;
  }
  .plan {
    width: calc(100% / 3);
  }
  #testimonials {
    margin-top: 48px;
    padding-top: 0;
  }
  .testimony__content--text .textContainer,
  .testimony__content--text .section__title {
    text-align: left;
    margin: 0;
    padding: 16px 0;
  }
  .testimony__content--text h3 {
    padding-left: 0;
    margin-left: 28px;
    text-align: left;
    width: 100%;
  }
  .testimony__content--text .section__title {
    font-size: 3rem;
    padding-left: 0;
    margin-left: 28px;
    padding-right: 128px;
    line-height: 3rem;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
  }
  .reviews__img--wrapper {
    display: flex;
    width: 50%;
    padding: 16px;
  }
  .arrows {
    position: absolute;
    right: 0;
    top: 75%;
    gap: 4px;
    margin-right: 4px;
    padding: 16px;
    font-size: 1.5rem;
    z-index: 50;
  }
  .reviews--wrapper {
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .slides-container {
    flex-direction: row;
  }
  .review {
    margin: 0;
    padding: 0;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
    flex: 0 0 50%;
  }
  .review--person {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
  .review--person img {
    margin-left: 16px;
  }
  .review--img {
    margin-right: 0;
    padding-right: 0;
  }
  .review--img img {
    margin-right: 24px;
  }
  .review--person .textContainer,
  .review--person .textContainer h4 {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
  }
  .review .textContainer h4 {
    width: 100%;
    text-align: left;
    margin: 0 0 0 28px;
    padding: 0 0 0 2px;
  }
  .star--wrapper {
    padding: 12px 4px;
    margin: 0 0 0 12px;
  }
  .stars i {
    padding: 4px 0;
  }
}

@media (max-width: 768px) {
  * {
    max-width: 768px;
  }
  .header {
    max-width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .landing--wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .landing__input {
    width: 75%;
  }
  .features__content--highlights {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section__title {
    font-size: 2.25rem !important;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 48px;
    flex-wrap: wrap;
  }
  .section__text {
    margin-top: 0;
    margin-top: 0;
  }
  .features__content--highlights {
    width: 100%;
  }
  .highlight {
    width: 50%;
  }
  .features__content--text {
    padding: 0 2rem;
  }
  .features__content--text .section__title {
    font-weight: 900;
    font-size: 3rem !important;
    line-height: 3rem;
    padding: 2rem;
    width: 100% !important;
  }
  .pricing__content .section__title {
    padding: 0 5rem;
    line-height: 3rem;
    flex-wrap: wrap;
    font-size: 3rem !important;
  }
  .plans {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .plan button {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  .pricing .section__text {
    width: 100%;
  }
  .plans {
    padding: 0 10rem;
  }
  .plan {
    width: 100%;
  }
  .pricing .quality--btn button {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .review {
    justify-content: space-between;
  }
  .review--person .textContainer {
    width: 35%;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
  }
  .review--img img {
    margin-right: 0;
    padding-right: 0;
  }
  .review--person h4,
  .review--person .section__text--subtext {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .review--person .section__text--subtext {
    padding-right: 0;
    width: 100%;
  }
  .faq__content--questions {
    width: 100%;
    max-width: 650px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .landing--wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .landing__input {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 100%;
    border: none;
  }
  .landing__input button {
    width: 100%;
  }
  .landing__input--text {
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
  }
  .landing__input--text:hover {
    border: 2px solid rgb(71, 13, 188);
  }
  .landing__input:hover {
    border: none;
  }
  .landing__input:focus-within {
    border: none;
  }
  .email--btn {
    width: 100%;
    margin: 0 auto;
  }
  .step--title,
  .steps--title,
  .values--title,
  .landing__title,
  .quality--title,
  .highlight--title,
  .section__title {
    font-size: 2rem !important;
    width: 100%;
  }
  .features__content--highlights,
  .features__content--text {
    margin: 0 auto;
  }
  .features__content--text .section__title {
    font-size: 2.25rem !important;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    width: 100%;
  }
  .features__content--highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .features__content--highlights .section__text,
  .highlight--title {
    margin: 0;
    padding: 0 0 8px 0;
    text-align: center;
    width: 100%;
  }
  .highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .highlight--title {
    font-size: 1.5rem !important;
  }
  .quality__content {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .quality--img,
  .quality--img img {
    margin: 0 auto;
  }
  .quality__text h3,
  .quality__text h1,
  .quality__text .quality--text {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .quality__text .quality--text {
    font-size: 0.875rem;
  }
  .quality__text h1 {
    margin: 0;
    padding: 0;
  }
  #steps {
    display: flex;
    flex-direction: column;
  }
  .steps__content--img,
  .steps__content--img img {
    height: auto;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }
  .steps__content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
    padding-top: 0;
  }
  .steps--list--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .steps--list--wrapper h3,
  .steps--list--wrapper h1 {
    width: 100%;
    text-align: center !important;
    margin: 0;
    padding: 0;
  }
  .steps--list--wrapper h1 {
    margin-bottom: 24px;
  }
  .steps__content--list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .step {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
    text-align: center !important;
    width: 100%;
    margin-bottom: 24px;
  }
  .step--title {
    font-size: 1.25rem !important;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textContainer.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .step .section__text {
    font-size: 1rem;
    text-align: center !important;
    margin: 0 auto;
    width: 100%;
  }
  .values__content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .values__content--points,
  .values__content--img {
    width: 100%;
  }
  .values__content--points {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .values__content--points .textContainer {
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .points .textContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
  .values__content--points .textContainer h3 {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
  }
  .values__content--points .textContainer h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .values__content--points .textContainer p {
    width: 100%;
    margin: 12px 24px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.625rem;
    padding: 4px 4px 4px 12px;
    text-align: center;
  }
  .values--title {
    margin: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .points {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .point--title--icon {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .point--title--icon .step--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .point .section__text {
    padding: 0 4rem !important;
    line-height: 1.5rem;
    font-size: 1rem !important;
  }
  .pricing__content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .pricing__content .pricing {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .pricing__content .pricing p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .pricing__content .pricing h1 {
    padding: 0 2rem;
    margin: 0;
    width: 100%;
    font-size: 2.25rem !important;
  }
  .plans {
    width: 100%;
    padding: 2rem;
    margin: 0px 96px;
  }
  .plan {
    width: 100%;
    margin: 24px 48px;
  }
  .pricing__content .textContainer:nth-child(3) {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }
  #testimonials {
    height: fit-content;
  }
  .testimony__content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .testimony__content--text,
  .reviews__img--wrapper {
    width: 100%;
  }
  .reviews__img--wrapper,
  .reviews__img--wrapper img {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 24px;
  }
  .testimony__content--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
  }
  .testimony__content--text .textContainer,
  .reviews--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .star--wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .review--person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .person--pic,
  .review--img img {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .review--person .section__text--subtext {
    margin: 0;
    padding: 0;
  }
  .testimony__content--text h3,
  .testimony__content--text h1,
  .testimony__content--text h4 {
    width: fit-content;
    margin: 0 auto !important;
    padding: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimony__content--text .section__title {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .arrows {
    display: flex;
    justify-content: center;
    top: 0;
    bottom: -100%;
    right: 0;
    left: 0;
  }
  #faq {
    max-width: 480px;
  }
  .faq__content {
    margin: 0 auto;
  }
  .faq__content--questions {
    width: 100%;
    max-width: 400px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
  }
}
@media (max-width: 400px) {
}
